<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>TinyTensor - Home</title>
    <%- include('./libraries/ui-libraries') %>
    <link rel="stylesheet" href="../stylesheets/index.css">
    <script type="module" src="../javascripts/index.js"></script>
</head>
<%- include('./templates/navbar', {urlPath: '/'}) %>
<body>
    <div class="container-fluid">
        <div class="row">
            <div id="infoForm" class="col-12 d-flex flex-wrap">
                <div id="infoForm-text" class="col-xxl-5 col-xl-5 col-lg-5 col-md-5 col-sm-12 col-12">
                    <span id="infoForm-text-bigText">
                        TinyTensor, a Tiny Machine Learning Bootcamp: <span class="c007BFF">SPEED AND ACCELERATION IN OUR LIVES</span>
                    </span>
                    <br/>
                    <span id="infoForm-text-mediumText">
                        This year, we want to operate a project of <span class="c007BFF">Tiny Machine Learning (TinyML)</span> about <span class="c007BFF">SPEED AND ACCELERATION IN OUR LIVES</span> to students who are interested in <span class="c007BFF">TinyML</span>, a potential subfield of <span class="c007BFF">Machine Learning (ML)</span>.
                        <br/>
                        Through the bootcamp, we hope participants not only
                        <span class="highlight-container">
                            <span class="highlight">understand deeper</span>
                        </span>
                        the training machine process but also
                        <span class="highlight-container">
                            <span class="highlight">make new friends </span>
                        </span>
                        throughout our meaningful journey this year!
                    </span>
                </div>
            
                <div class="separator col-xxl-1 col-xl-1 col-lg-1 col-md-1 col-sm-12 col-12"></div>
            
                <div id="infoForm-form" class="col-xxl-6 col-xl-6 col-lg-6 col-md-6 col-sm-12 col-12">
                    <form id="infoForm-form-gettingInformationForm" class="col-12" method="POST">
                        <span class="form-bigText col-12">PARTICIPATE TODAY!</span>
                        <span class="form-mediumText col-12">Your tech career is waiting. Tell us a little about you - and we'll get in touch with more info.</span>
                        <input name="fullName" class="form-input form__input col-12" placeholder="Full Name *" required/>
                        <input name="email" class="form-input form__input col-12" type="email" placeholder="Email *" required/>
                        <input name="otherInfo" class="form-input form__input col-12" placeholder="Other contact information"/>
                        <div class="aboutMe-textarea">
                            <textarea name="aboutMe" id="form__textArea" class="col-12 mt-5" placeholder="Tell us more about you!"></textarea>
                        </div>
                        <span class="col-12 form-smallText">We will review your valuable application and contact you via email soon. Stay tuned!</span>
                        <button type="submit" class="form__submitButton col-12">SEND APPLICATION</button>
                    </form>
                </div>
            </div>
            
            <div id="scheduleSection" class="col-12">
                <span class="schedule-bigText col-12">TinyTensor Periods</span>
                <ul id="timeline">
                    <li style="--accent-color:#41516C">
                        <div class="date">July 29, 2024</div>
                        <div class="title">Hanoi - Day 1 - Introduction to Machine Learning and possible applications.</div>
                        <div class="descr">
                            <!-- <b>[Morning]</b> Ice-breaker activities, overview of machine learning.
                            <br/>
                            <b>[Afternoon]</b> Basic concepts and tools setup for using Arduino Tiny machine learning BLE 33
                            kits. -->
                        </div>
                    </li>
                    <li style="--accent-color:#FBCA3E">
                        <div class="date">July 30, 2024</div>
                        <div class="title">Hanoi - Day 2 - What is models? Brief visual about different types of models.</div>
                        <div class="descr">
                            <!-- <b>[Morning]</b> Introduction to data and preprocessing techniques.
                            <br/>
                            <b>[Afternoon]</b> Hands-on session with datasets. -->
                        </div>
                    </li>
                    <li style="--accent-color:#E24A68">
                        <div class="date">July 31, 2024</div>
                        <div class="title">Hanoi - Day 3 - Building models, Model Evaluation and Improvement with TinyML Kit.</div>
                        <div class="descr">
                            <!-- <b>[Morning]</b> Introduction to different types of models (e.g., linear regression, classification).
                            <br/> -->
                            <strong><small>*This session will be made beginner-friendly so everyone can learn something from the bootcamp.</small></strong>
                            <!-- <br/>
                            <b>[Afternoon]</b> Building simple models with guidance and presentation for final projects. -->
                        </div>
                    </li>
                    <li style="--accent-color:#1B5F8C">
                        <div class="date">August 3, 2024</div>
                        <div class="title">Ho Chi Minh City - Day 1 - Introduction to Machine Learning and possible applications.</div>
                        <div class="descr">
                            <!-- <b>[Morning]</b> Ice-breaker activities, overview of machine learning.
                            <br/>
                            <b>[Afternoon]</b> Basic concepts and tools setup for using Arduino Tiny machine learning BLE 33
                            kits. -->
                        </div>
                    </li>
                    <li style="--accent-color:#4CADAD">
                        <div class="date">August 4, 2024</div>
                        <div class="title">Ho Chi Minh City - Day 2 - What is models? Brief visual about different types of models.</div>
                        <div class="descr">
                            <!-- <b>[Morning]</b> Introduction to data and preprocessing techniques.
                            <br/>
                            <b>[Afternoon]</b> Hands-on session with datasets. -->
                        </div>
                    </li>
                    <li style="--accent-color:#772787">
                        <div class="date">August 5, 2024</div>
                        <div class="title">Ho Chi Minh City - Day 3 - Building models, Model Evaluation and Improvement with TinyML Kit.</div>
                        <div class="descr">
                            <!-- <b>[Morning]</b> Introduction to different types of models (e.g., linear regression, classification).
                            <br/> -->
                            <strong><small>*This session will be made beginner-friendly so everyone can learn something from the bootcamp.</small></strong>
                            <!-- <br/>
                            <b>[Afternoon]</b> Building simple models with guidance and presentation for final projects. -->
                        </div>
                    </li>
                </ul>
            </div>

            <div id="tinyMLDefinitionSection" class="col-12">
                <span class="tinyMLDefinitionQuestion col-12">What is Machine Learning?</span>
                <br/>
                <div class="tinyMLDefinition-section">
                    <img class="tinyMLDefinition-img col-xxl-6 col-xl-6 col-lg-6 col-md-12 col-sm-12 col-xs-12" src="https://img.freepik.com/free-vector/organic-flat-people-asking-questions-illustration_23-2148906283.jpg?t=st=1721009362~exp=1721012962~hmac=b1164e48368893cb08d11392431c765ea0f669e88d3e160d82301667799edca4&w=740" alt="TINYML DEFINITION VECTOR"/>
                    <span class="tinyMLDefinition col-xxl-6 col-xl-6 col-lg-6 col-md-12 col-sm-12 col-xs-12">
                        <p>
                            Machine Learning (ML) is a subset of artificial intelligence that focuses on developing algorithms and statistical models that enable computer systems to improve their performance on a specific task through experience, without being explicitly programmed.
                        </p>
                        <p>ML has had a significant impact on the world today:</p>
                        <ul>
                            <li>Personalized recommendations: Used by streaming services, e-commerce platforms, and social media to suggest content or products.</li>
                            <li>Healthcare: Assists in disease diagnosis, drug discovery, and personalized treatment plans.</li>
                            <li>Finance: Powers fraud detection systems, algorithmic trading, and credit scoring.</li>
                            <li>Transportation: Enables autonomous vehicles and optimizes traffic management.</li>
                            <li>Natural Language Processing: Facilitates voice assistants, language translation, and sentiment analysis.</li>
                            <li>Computer vision: Used in facial recognition, object detection, and image classification.</li>
                            <li>Manufacturing: Enhances predictive maintenance and quality control.</li>
                            <li>Marketing: Improves targeted advertising and customer segmentation.</li>
                            <li>Cybersecurity: Helps detect and prevent cyber threats.</li>
                            <li>Scientific research: Accelerates data analysis in fields like genomics and climate science.</li>
                        </ul>
                        <p>
                            These applications have led to increased efficiency, personalization, and automation across various industries.
                        </p>
                    </span>
                </div>                
            </div>

            <div id="tinyMLApplicationSection" class="col-12">
                <span class="tinyMLApplicationQuestion col-12">How can Machine Learning be applied to daily life?</span>
                <br/>
                <div class="tinyMLApplication-sectionTextRightImgLeft">
                    <span class="tinyMLDefinition col-xxl-6 col-xl-6 col-lg-6 col-md-12 col-sm-12 col-xs-12">
                        Machine Learning (ML) has permeated many aspects of daily life, enhancing our
                        experiences. 
                        <br/>ML powers voice assistants, predictive text, and camera features in
                        smartphones. It personalizes our entertainment by recommending content on streaming
                        platforms and music apps. Navigation apps use ML for traffic predictions and route
                        optimization. 
                        <br/>In our homes, smart devices learn our preferences for temperature and lighting.
                        ML aids in personal finance through fraud detection and automated savings apps. It enhances
                        health and fitness tracking, providing personalized workout recommendations. 
                        <br/>ML filters
                        spam, categorizes emails, and suggests replies in our digital communications. Online
                        shopping experiences are tailored through product recommendations and dynamic pricing.
                        <br/>
                        Social media platforms use ML for friend suggestions and content curation.
                        <br/>Language tools
                        leverage ML for real-time translation and writing assistance. 
                        <br/>These applications collectively
                        make our daily routines more efficient, personalized, and convenient, subtly improving
                        quality of life across various domains.
                    </span>
                    <img class="tinyMLApplication-img col-xxl-6 col-xl-6 col-lg-6 col-md-12 col-sm-12 col-xs-12" src="https://img.freepik.com/free-vector/organic-flat-people-asking-questions-illustration_23-2148906283.jpg?t=st=1721009362~exp=1721012962~hmac=b1164e48368893cb08d11392431c765ea0f669e88d3e160d82301667799edca4&w=740" alt="TINYML APPLICATION VECTOR"/>
                </div>
                <!-- <div class="tinyMLApplication-sectionTextLeftImgRight">
                    <img class="tinyMLApplication-img col-xxl-6 col-xl-6 col-lg-6 col-md-12 col-sm-12 col-xs-12" src="https://img.freepik.com/free-vector/organic-flat-people-asking-questions-illustration_23-2148906283.jpg?t=st=1721009362~exp=1721012962~hmac=b1164e48368893cb08d11392431c765ea0f669e88d3e160d82301667799edca4&w=740" alt="TINYML APPLICATION VECTOR"/>
                    <span class="tinyMLDefinition col-xxl-6 col-xl-6 col-lg-6 col-md-12 col-sm-12 col-xs-12">
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Rutrum quisque non tellus orci ac auctor augue mauris augue. Sed adipiscing diam donec adipiscing tristique risus. Nunc lobortis mattis aliquam faucibus purus in massa tempor. Imperdiet massa tincidunt nunc pulvinar. Magnis dis parturient montes nascetur ridiculus mus mauris vitae ultricies. Aliquam faucibus purus in massa tempor nec feugiat nisl pretium. Viverra nibh cras pulvinar mattis nunc sed. Laoreet sit amet cursus sit. Lectus sit amet est placerat in egestas. Massa id neque aliquam vestibulum morbi. Adipiscing bibendum est ultricies integer quis auctor. Cursus risus at ultrices mi tempus imperdiet nulla malesuada pellentesque. Quam pellentesque nec nam aliquam.
                    </span>
                </div>                 -->
            </div>

            <div id="tinyMLFutureJobSection" class="col-12">
                <span class="tinyMLFutureJobStatement">Jobs related to Tiny Machine Learning</span>
                <br/>
                <div class="tinyMLFutureJob-section">
                    <ol class="gradient-list">
                        <li>Machine Learning Engineer: Designs and implements ML systems and algorithms.</li>
                        <li>Data Scientist: Analyzes complex data to extract insights, often using ML techniques.</li>
                        <li>AI Research Scientist: Conducts advanced research to develop new ML algorithms and methodologies.</li>
                        <li>Deep Learning Engineer: Specializes in neural networks and deep learning architectures.</li>
                        <li>NLP Engineer: Focuses on natural language processing applications.</li>
                        <li>Computer Vision Engineer: Works on image and video analysis using ML.</li>
                        <li>Robotics Engineer: Applies ML to robotics and automation.</li>
                        <li>Business Intelligence Developer: Uses ML for data-driven business insights.</li>
                        <li>Data Engineer: Builds infrastructure for data collection and processing for ML.</li>
                        <li>ML Operations (MLOps) Engineer: Manages the deployment and maintenance of ML models.</li>
                        <li>Quantitative Analyst: Applies ML in finance and trading.</li>
                        <li>Bioinformatics Scientist: Uses ML in genomics and biological data analysis.</li>
                        <li>Autonomous Vehicle Engineer: Develops ML systems for self-driving cars.</li>
                        <li>ML Product Manager: Oversees ML product development and strategy.</li>
                        <li>Ethics in AI Specialist: Addresses ethical concerns in ML applications.</li>
                    </ol>
                </div>
            </div>

            <div id="questionSection" class="col-12">
                <form class="col-12" id="questionForm" method="POST">
                    <h4>Feel free to ask us by filling this form!</h4>
                    <div class="" id="infoBox">
                        <div class="form_group field">
                            <input type="input" class="form_field" placeholder="Enter your email address here." name="email" id="emailInput" required />
                            <label for="email" class="form_label">Your Email</label>
                        </div>
                        <div class="form_group field">
                            <input type="input" class="form_field" placeholder="Enter your full name here." name="name" id="nameInput" required />
                            <label for="name" class="form_label">Your Name</label>
                        </div>
                    </div>
                    <div class="receiverQuestion form_group field">
                        <label>Question For Us:</label>
                        <textarea id="questionInput" name="question" placeholder="Enter your question here."></textarea>
                    </div>
                    <div>
                        <button type="submit" class="btn btn-primary mt-2" id="askButton">Ask Now!</button>
                    </div>
                </form>
            </div>
        </div>        
    </div>
</body>
<%- include('./templates/footer') %>
</html>
