/* Basic styles for the navbar and nav items */
.nav-item::after,
.nav-item::before {
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 2px;
    background: #007BFF;
    transform: scaleX(0);
    transform-origin: bottom right;
    transition: transform 0.25s ease-in-out;
}

.nav-item:hover::after {
    transform: scaleX(1);
    transform-origin: bottom left;
}

.nav-item:not(.active) {
    background-color: #F8F9FA;
    transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border 0.15s ease-in-out;
}

.nav-item {
    position: relative;
    height: 100%;
}

.nav-item a {
    padding-top: 30%;
}

.navbar-brand, .navbar-brand:hover, .navbar-brand:focus, .nav-link, .nav-link:hover, .nav-link:focus {
    color: #007BFF;
}

.nav-link {
    padding: 1rem 0.75rem;
    --bs-navbar-nav-link-padding-x: 0.8rem;
    display: block;
    text-align: center;
}

.navbar-brand {
    display: none;
    width: auto;
    height: 100%;
}

nav.navbar {
    height: 60pt;
    background-color: #F8F9FA;
    padding: 0;
}

.navbar-nav {
    height: 100%;
    display: flex;
    align-items: center;
}

#navbarNav {
    margin-left: -12pt;
    height: 100%;
}

.nav-item.active {
    background-color: #007BFF;
}

.nav-item.active .nav-link {
    color: #F8F9FA;
}

.nav-item:not(.active):hover {
    color: #007BFF;
    transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border 0.15s ease-in-out;
}

.nav-item.active .navlink{
    color: #F8F9FA;
}

.navlink, .navlink:hover {
    color: #007BFF;
    text-decoration: none;
}

.nav-item {
    padding-top: 2svw;
}

/* Media queries for responsive adjustments */
@media (max-width: 992px) {
    .navbar-brand {
        display: block;
    }

    .nav-item {
        width: 100%;
        height: 7;
    }

    .nav-link {
        text-align: center;
        height: 1;
    }

    .nav-link a p {
        margin-top: -350pt;
    }
}

@media (max-width: 2000px) {
    .nav-item {
        padding-top: 1.5svw;
    }
}

@media (min-width: 992px) {
    .nav-item {
        margin-right: 1rem;
    }
}
