<link rel="stylesheet" href="../css/navbar.css">
<link rel="icon" href="img/logo.jpg">

<nav class="navbar navbar-expand-lg sticky-top ps-0">
    <img class="navbar-brand py-0" src="img/logo.jpg" alt="Brand Logo" title="Placeholder">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
        aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav sticky-bottom">
            <% for (let [name, link] of [
                ["Home", '/'],
                ["About Us", '/aboutUs'],
                ["Our Teams", '/ourTeams'],
                ["News", '/news'],
                ["Records", '/records'],
                ['Admin', '/preAccessAdministration'],
            ]) { %>
            <li class="nav-item fs-5 <%= urlPath == link && link == '/' || (link.includes(urlPath) && urlPath != '/') ? 'active' : '' %>">
                <a class="nav-link text-center" href="<%= link %>"><%= name %></a>
            </li>
            <% } %>
        </ul>
    </div>
</nav>

<script>
    let logo = document.querySelector("img.navbar-brand");
    let navbar = document.querySelector(".navbar");
    logo.style.height = `${navbar.clientHeight}px`;
    logo.style.display = "block";

    let navTabs = [...document.querySelectorAll("li.nav-item")];
    let maxWidth = Math.max(...navTabs.map(tab => tab.clientWidth));
    console.log(maxWidth);

    let customWidthStyle = document.createElement('style');
    customWidthStyle.type = 'text/css';

    let css = `
    @media (min-width: 992px) {
        li.nav-item {
            width: ${maxWidth+1}px;
        }
    }
    `;

    customWidthStyle.innerHTML = css;
    document.head.appendChild(customWidthStyle);
</script>