<link rel="stylesheet" href="../stylesheets/layout.css" />
<nav class="navbar navbar-expand-lg sticky-top" style="background-color: #F8F9FA;">
    <a class="navbar-brand" href="/">
        <img src="https://media.tenor.com/Brd6cmhLY2QAAAAM/huh-cat-huh-m4rtin.gif" alt="TinyML Bootcamp Official Logo" class="d-inline-block align-text-top" id="tinyml-logo"/>
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarCollapse">
        <ul class="navbar-nav">
            <li class="nav-item">
                <a class="nav-link" href="/">HOME</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/news">NEWS</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/aboutUs">ABOUT US</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">OUR TEAMS</a>
            </li>
            <li class="nav-item">
                <a class="nav-link admin-nav-link" href="/preAccessAdministration">POST (ADMIN)</a>
            </li>
            <!-- <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-expanded="false">More</a>
                <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <li><a class="dropdown-item" href="#">Action</a></li>
                    <li><a class="dropdown-item" href="#">Another action</a></li>
                    <li><a class="dropdown-item" href="#">Something else here</a></li>
                </ul>
            </li>
            <li class="nav-item">
                <a class="nav-link disabled" aria-disabled="true">Disabled</a>
            </li> -->
        </ul>
    </div>
</nav>