<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>TinyTensor - About Us</title>
    <%- include('../libraries/ui-libraries') %>
        <style>
            .caption {
                font-size: 0.9em;
                color: white;
                margin-top: 5px;
            }

            body {
                background-color: #F8F9FA;
            }

            .title-bar {
                color: #007BFF;
                font-size: 3.5rem;
            }

            .primary {
                background-color: #007BFF !important;
                color: white;
            }

            .sect-title {
                border-bottom: #F8F9FA 1px solid;
            }
        </style>
</head>


<%- include('../templates/navbar', {urlPath}) %>

    <body>
        <h1 class="title-bar text-start px-4 py-4">About Us</h1>
        <div class="container">
            <div class="row gy-4 mx-2">
                <div class="primary col-12">
                    <div class="row my-2">
                        <div class="col">
                            <div class="row mx-0">
                                <span class="col-12 px-0 fs-2 sect-title">Who We Are</span>
                                <span class="col-12 px-0 pt-2">
                                    <p>
                                        Tiny Tensor, a student-run program led by aspiring individuals from across the globe with the guidance of experienced mentors, aims to provide a foundational understanding of modern machine learning through accessible bootcamps.
                                    </p>
                                    <p>Through these bootcamps, we will achieve the following goals:</p>
                                    <ul>
                                        <li>Introduce numerous theoretical concepts of machine learning and apply them practically using Arduino kits provided by knowledgeable instructors.</li>
                                        <li>Offer participants new perspectives on Artificial Intelligence (AI), including its many benefits and challenges.</li>
                                        <li>Create an environment full of creativity and innovation, enabling young adults to explore their innate potential and passion for machine learning.</li>
                                        <li>Instill professional work ethics and a sense of responsibility in the members of the project.</li>
                                    </ul>
                                </span>
                            </div>
                        </div>
                        <!-- <div class="col-3">
                            <div class="row mx-0">
                                <img src="img/placeholder.png" alt="placeholder">
                            </div>
                        </div> -->
                    </div>
                </div>
                <div class="primary col-12">
                    <div class="row my-2">
                        <!-- <div class="col-3">
                            <div class="row mx-0">
                                <img src="img/placeholder.png" alt="placeholder">
                            </div>
                        </div> -->
                        <div class="col">
                            <div class="row mx-0">
                                <span class="col-12 px-0 fs-2 sect-title">Our Goals</span>
                                <span class="col-12 px-0 pt-2">Our organization sets out to achieve the
                                    following:</span>
                                <div class="col-12 px-0 pt-2">
                                    <ol>
                                        <li>
                                            Provide a basic understanding of basic machine learning concepts, along with
                                            many
                                            challenges in the field of Artificial Intelligence (AI).
                                        </li>
                                        <li>
                                            Create an environment full of creativity and breakthroughs for the young
                                            adults to share
                                            their passion in Machine Learning.
                                        </li>
                                        <li>
                                            Build responsibility for each individual when being part of the project in
                                            general and in
                                            each subteam in particular.
                                        </li>
                                    </ol>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="primary col-12">
                    <div class="row my-2">
                        <div class="col">
                            <div class="row mx-0">
                                <span class="col-12 px-0 fs-2 sect-title">About Events: TinyML Bootcamp</span>
                                <span class="col-12 px-0 pt-2">
                                    <p>
                                        A 3-day in-person bootcamp for students who share an interest in AI and machine learning.
                                        <br/><br/>With expert mentors and instructors such as Dr. Do Dinh Thuan – Assistant Professor of
                                        Computer Engineering at the University of Mount Union (USA), the students will learn about
                                        the basic concepts of machine learning and how to build their models using ML techniques in
                                        order to gain an initial understanding of the innerworks and experience resources currently
                                        used in the industry. 
                                        <br/><br/>These bootcamps will be held in Hanoi (29/07/ - 31/07/2024) and Ho
                                        Chi Minh City (03/08 - 05/08/2024).
                                    </p>
                                </span>
                            </div>
                        </div>
                        <!-- <div class="col-3">
                            <div class="row mx-0">
                                <img src="img/placeholder.png" alt="placeholder">
                            </div>
                        </div> -->
                    </div>
                </div>
                <div class="primary col-12">
                    <div class="row my-2">
                        <div class="col">
                            <div class="row mx-0">
                                <span class="col-12 px-0 fs-2 sect-title">Hands-On Project</span>
                                <span class="col-12 px-0 pt-2">
                                    Some information on the hands-on project included within our bootcamp:
                                </span>
                                <div class="col-12 px-0 pt-2">
                                    <ol>
                                        <li>
                                            <b>Project Ideas</b>: Simple and engaging projects suitable for beginners,
                                            such as
                                            gesture recognition, voice recognition, or simple prediction models.
                                        </li>
                                        <li>
                                            <b>Tools and Platform</b>: Create an environment full of creativity and breakthroughs for the young
                                            adults to share
                                            their passion in Machine Learning.
                                        </li>
                                        <li>
                                            <b>Project Phases</b>: Build responsibility for each individual when being part of the project in
                                            general and in
                                            each subteam in particular.
                                        </li>
                                    </ol>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
    </body>
    <%- include('../templates/footer', {urlPath}) %>
</html>