<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>TinyTensor - Our Teams</title>
    <%- include('../libraries/ui-libraries') %>
    <link rel="stylesheet" href="../stylesheets/teams.css">
</head>
<%- include('../templates/navbar', {urlPath: '/ourTeams'}) %>
<body>
    <div class="container">
        <div class="row">
            <span id="page-Introduction" class="col-12"><span style="color: #007BFF;">TinyTensor</span> - Tiny Machine Learning Bootcamp Members</span>
            <div id="founder" class="d-flex flex-column align-items-center">
                <div class="person">
                    <div class="person__container">
                        <p class="description">
                            <q><b>
                                Prof. Thuan received M.Sc. and Ph.D. degrees in Electrical Engineering from the Vietnam National University -Ho Chi Minh City (VNU-HCM) in 2007, and 2012 respectively. He was a visiting Ph.D. student at National Tsing Hua University (NTHU), Taiwan (2009-2010). 
                                <br/><br/>
                                Prior to joining academia, he worked as a senior engineer in the telecommunications industry at VinaPhone Mobile Network (VNPT Group) (2003-2009). He was a Department Chair of Communications Engineering Department, Ton Duc Thang University, Ho Chi Minh City, Vietnam (2011-2013). Eventually, he was a founder and established a research group, namely Wireless Communications Research Group in 2016. Recently, he has worked with University of Colorado Denver, The University of Texas at Austin and Asia University (Taiwan). He was awarded as an excellent young researcher at Ton Duc Thang University in several years. Regarding teaching activities, he is an active supervisor for 6 Ph.D. students in the joint Ph.D. program between Ton Duc Thang University and Technical University of Ostrava (VSB), Czech Republic.  He is currently serving as an Associate Editor in 5 SCIE journals. He has also served as a Lead Guest Editor/Guest Editor in Physical Communications, Annals of Telecommunications, etc. He was invited as a TPC member in IEEE flagship conferences such as GLOBECOM, ICC, WCNC.
                                <br/><br/>
                                He was named as the Best Editor of ICT Express (ISI journal) in 2023, 2024, the recipient of the 2015 Golden Globe Award by Ministry of Science and Technology (top 10 outstanding scientists nationwide). He also received Medal of Creative Young Talents in 2015. He was named in top 14 highly cited scientists in Asia University (Taiwan) in 2021.
                            </b></q>
                            <br/>
                            <span>My birth year: 1980</span>
                            <br/>
                        </p>
                        <img class="person__circle" src="img/rainbowbg.jpg" alt="TinyML Team Members">
                        <img class="person__img" src="img/do-dinh-thuan.png" id="ddt-img" alt="TinyML Team Members">
                    </div>
                </div>
                <div class="line"></div>
                <div class="info">
                    <h3 class="name">Prof. Đỗ Đình Thuấn</h3>
                    <h4 class="jobtitle">Advisor of TinyTensor - Tiny Machine Learning Bootcamp</h4>
                </div>
            </div>

            <span class="teams-introduction col-12">Team Mentors</span>
            <hr class="blockade"/>
            <div class="teams-container">
                <div class="team-member">
                    <div class="person">
                        <div class="person__container">
                            <p class="description">
                                <q><b>Introverted Extrovert</b></q>
                                <br/>
                                <span>My birth year: 2007</span>
                                <br/>
                                <span>I am from: BVIS Hanoi</span>
                                <br/>
                                <span>My message to students: Ego is our best enemy </span>
                            </p>
                            <img class="person__circle" src="img/rainbowbg.jpg" alt="TinyML Team Members">
                            <img class="person__img" src="img/dinh-vinh-mai.png" id="mdv-img" alt="TinyML Team Members">
                        </div>
                    </div>
                    <div class="line"></div>
                    <div class="info">
                        <h3 class="name">Mai Đình Vinh</h3>
                        <h4 class="jobtitle">Leader</h4>
                    </div>
                </div>
                <div class="team-member">
                    <div class="person">
                        <div class="person__container">
                            <p class="description">
                                <q><b>I am talented at Engineering, and I will always believe so.</b></q>
                                <br/>
                                <span>My birth year: 2007</span>
                                <br/>
                                <span>I am from: Le Quy Don High School at HCMC</span>
                                <br/>
                                <span>My message to students: Enjoy the bootcamp :D</span>
                            </p>
                            <img class="person__circle" src="img/rainbowbg.jpg" alt="TinyML Team Members">
                            <img class="person__img" src="img/vu-duy-nam-khanh.png" alt="TinyML Team Members">
                        </div>
                    </div>
                    <div class="line"></div>
                    <div class="info">
                        <h3 class="name">Vũ Duy Nam Khánh</h3>
                        <h4 class="jobtitle">Vice-leader</h4>
                    </div>
                </div>
                <div class="team-member">
                    <div class="person">
                        <div class="person__container">
                            <p class="description">
                                <q><b>I don't have much experience in computer science or engineering, but I like biology and chemistry and have a lot of experiences in those two.</b></q>
                                <br/>
                                <span>My birth year: 2007</span>
                                <br/>
                                <span>I am from: Holy Trinity High School, Chicago, Illinois</span>
                                <br/>
                                <span>My message to students: No naughty please :( </span>
                            </p>
                            <img class="person__circle" src="img/rainbowbg.jpg" alt="TinyML Team Members">
                            <img class="person__img" src="https://upload.wikimedia.org/wikipedia/commons/thumb/1/12/User_icon_2.svg/768px-User_icon_2.svg.png" alt="TinyML Team Members">
                        </div>
                    </div>
                    <div class="line"></div>
                    <div class="info">
                        <h3 class="name">Đinh Hoàng Dương</h3>
                        <h4 class="jobtitle">Member</h4>
                    </div>
                </div>
                <div class="team-member">
                    <div class="person">
                        <div class="person__container">
                            <p class="description">
                                <q><b>I have tried Tiny ML and can code in many languages like C++, Java and Python</b></q>
                                <br/>
                                <span>My birth year: 2007</span>
                                <br/>
                                <span>I am from: Le Hong Phong High School for the gifted Ho Chi Minh city</span>
                                <br/>
                                <span></span>
                            </p>
                            <img class="person__circle" src="img/rainbowbg.jpg" alt="TinyML Team Members">
                            <img class="person__img" src="https://upload.wikimedia.org/wikipedia/commons/thumb/1/12/User_icon_2.svg/768px-User_icon_2.svg.png" alt="TinyML Team Members">
                        </div>
                    </div>
                    <div class="line"></div>
                    <div class="info">
                        <h3 class="name">Phạm Minh Tuấn</h3>
                        <h4 class="jobtitle">Member</h4>
                    </div>
                </div>
                <div class="team-member">
                    <div class="person">
                        <div class="person__container">
                            <p class="description">
                                <q><b>A high schooler who is passionate about ML and Web Designing looking for more experience in the field.</b></q>
                                <br/>
                                <span>My birth year: 2008</span>
                                <br/>
                                <span>I am from: Amsterdam High School for the Gifted, Ha Noi</span>
                                <br/>
                                <span>My message to students: I hope that we can work together to inspire new generations of engineers and computer scientists in our country.</span>
                            </p>
                            <img class="person__circle" src="img/rainbowbg.jpg" alt="TinyML Team Members">
                            <img class="person__img" src="https://upload.wikimedia.org/wikipedia/commons/thumb/1/12/User_icon_2.svg/768px-User_icon_2.svg.png" alt="TinyML Team Members">
                        </div>
                    </div>
                    <div class="line"></div>
                    <div class="info">
                        <h3 class="name">Nguyễn Minh Đăng</h3>
                        <h4 class="jobtitle">Member</h4>
                    </div>
                </div>
                <div class="team-member">
                    <div class="person">
                        <div class="person__container">
                            <p class="description">
                                <q><b>I’m into learning about computer and coding as well as playing sports like basketball,..</b></q>
                                <br/>
                                <span>My birth year: 2009</span>
                                <br/>
                                <span>I am from: Tran Dai Nghia, HCMC</span>
                                <br/>
                                <span>My message to students: I’m seeking for a hand from everyone in this bootcamp so that I can improve not only my coding and engineering skills but as well as my soft skills and cooperative skills. Hope that everyone can help me.</span>
                            </p>
                            <img class="person__circle" src="img/rainbowbg.jpg" alt="TinyML Team Members">
                            <img class="person__img" src="https://upload.wikimedia.org/wikipedia/commons/thumb/1/12/User_icon_2.svg/768px-User_icon_2.svg.png" alt="TinyML Team Members">
                        </div>
                    </div>
                    <div class="line"></div>
                    <div class="info">
                        <h3 class="name">Đỗ Gia Khang</h3>
                        <h4 class="jobtitle">Member</h4>
                    </div>
                </div>
                <div class="team-member">
                    <div class="person">
                        <div class="person__container">
                            <p class="description">
                                <q><b>Khanh is a high school Junior with a strong passion for coding and exploring technology. Alongside his studies, Khánh is actively involved in community service, seeking to make a positive impact in his community. His curiosity for technology drives him to stay updated with the latest advancements, and he enjoys spending his free time learning new programming languages and exploring innovative tech solutions.</b></q>
                                <br/>
                                <span>My birth year: 2008</span>
                                <br/>
                                <span>I am from: SJNA, Wisconsin</span>
                                <br/>
                                <span>My message to students:
                                    <br/>
                                    Embrace Curiosity and Patience
                                    <br/><br/>
                                    First and foremost, I encourage you to approach Machine Learning with curiosity and patience. This field is vast and can be complex at times, but it's also incredibly rewarding. Don't be afraid to ask questions, experiment, and make mistakes. Every challenge you encounter is a learning opportunity that brings you one step closer to mastering the concepts.
                                    <br/><br/>
                                    Hands-On Practice is Key
                                    <br/><br/>
                                    Theory is important, but Machine Learning is best learned by doing. Engage in hands-on projects and experiments. Use datasets to train your models, participate in Kaggle competitions, and try to solve real-world problems. The more you practice, the more confident you'll become in applying Machine Learning techniques.
                                    <br/><br/>
                                    Think Ethically and Responsibly
                                    <br/><br/>
                                    As you delve into Machine Learning, it's important to consider the ethical implications of your work. Strive to create models that are fair, unbiased, and transparent. Understand the impact of your algorithms on society and be mindful of the responsibility that comes with working in this powerful field.
                                </span>
                            </p>
                            <img class="person__circle" src="img/rainbowbg.jpg" alt="TinyML Team Members">
                            <img class="person__img" src="https://upload.wikimedia.org/wikipedia/commons/thumb/1/12/User_icon_2.svg/768px-User_icon_2.svg.png" alt="TinyML Team Members">
                        </div>
                    </div>
                    <div class="line"></div>
                    <div class="info">
                        <h3 class="name">Khanh Nguyen</h3>
                        <h4 class="jobtitle">Member</h4>
                    </div>
                </div>
                <div class="team-member">
                    <div class="person">
                        <div class="person__container">
                            <p class="description">
                                <q><b>a guy here to get knowledge on Machine Learning so he can utiliize for his own research</b></q>
                                <br/>
                                <span>My birth year: 2007</span>
                                <br/>
                                <span>I am from: Archimedes Dong Ang, Hanoi</span>
                                <br/>
                                <span>My message to students: give all there to what you love</span>
                            </p>
                            <img class="person__circle" src="img/rainbowbg.jpg" alt="TinyML Team Members">
                            <img class="person__img" src="img/ngo-quang-minh.png" id="nqm-img" alt="TinyML Team Members">
                        </div>
                    </div>
                    <div class="line"></div>
                    <div class="info">
                        <h3 class="name">Ngô Quang Minh</h3>
                        <h4 class="jobtitle">Member</h4>
                    </div>
                </div>
                <div class="team-member">
                    <div class="person">
                        <div class="person__container">
                            <p class="description">
                                <q><b>Discipline is my weakness</b></q>
                                <br/>
                                <span>My birth year: 2007</span>
                                <br/>
                                <span>I am from: Tran Dai Nghia High School, HCMC</span>
                                <br/>
                                <span>My message to students: One of the things I regret not doing sooner is learning Machine Learning in 9th grade. I didn’t have the little push towards the direction I wanted. Thus, take this bootcamp as that little push, the start of your journey.</span>
                            </p>
                            <img class="person__circle" src="img/rainbowbg.jpg" alt="TinyML Team Members">
                            <img class="person__img" src="img/thien-dang.png" id="tdn-img" alt="TinyML Team Members">
                        </div>
                    </div>
                    <div class="line"></div>
                    <div class="info">
                        <h3 class="name">Nguyễn Ngọc Thiên Đăng</h3>
                        <h4 class="jobtitle">Member</h4>
                    </div>
                </div>
                <div class="team-member">
                    <div class="person">
                        <div class="person__container">
                            <p class="description">
                                <q><b>I'm quite friendly and I can do almost any job though ;)) But I would prefer things about machine learning, management, etc..</b></q>
                                <br/>
                                <span>My birth year: 2010</span>
                                <br/>
                                <span>I am from: Lawrence S'Ting school, HCMC</span>
                                <br/>
                                <span>My message to students: I really appreciate the jobs everyone does and I believe most people older than me ;) I hope I can get along with them more while I'm working in this camp.</span>
                            </p>
                            <img class="person__circle" src="img/rainbowbg.jpg" alt="TinyML Team Members">
                            <img class="person__img" src="img/tran-le-bao-han.png" alt="TinyML Team Members">
                        </div>
                    </div>
                    <div class="line"></div>
                    <div class="info">
                        <h3 class="name">Trần Lê Bảo Hân</h3>
                        <h4 class="jobtitle">Member</h4>
                    </div>
                </div>
                <div class="team-member">
                    <div class="person">
                        <div class="person__container">
                            <p class="description">
                                <q><b>I am interested in studying data science in university so i had various experiences in the field. i had internships in Vietcombank and also experiences in projects regarding predicting stocks</b></q>
                                <br/>
                                <span>My birth year: 2007</span>
                                <br/>
                                <span>HUS High School for Gifted Students</span>
                                <br/>
                                <span>My message to students: I hope you guys will have a good time learning more about your passions in order to choose a major that fits you in the future</span>
                            </p>
                            <img class="person__circle" src="img/rainbowbg.jpg" alt="TinyML Team Members">
                            <img class="person__img" src="https://upload.wikimedia.org/wikipedia/commons/thumb/1/12/User_icon_2.svg/768px-User_icon_2.svg.png" alt="TinyML Team Members">
                        </div>
                    </div>
                    <div class="line"></div>
                    <div class="info">
                        <h3 class="name">Vũ Anh Đức</h3>
                        <h4 class="jobtitle">Member</h4>
                    </div>
                </div>
                <div class="team-member">
                    <div class="person">
                        <div class="person__container">
                            <p class="description">
                                <q><b>Hi guys, I'm Hieu and am currently a student participating in this year's boot camp. My main goal in this project is to be able to teach students about machine learning as well as to develop myself further in this specific field. I hope that this project can bring the curiosity and interest out of youngsters nowadays and spread the love for STEM subjects in general.</b></q>
                                <br/>
                                <span>My birth year: 2007</span>
                                <br/>
                                <span>Nguyễn Siêu High School, Hanoi</span>
                                <br/>
                                <span></span>
                            </p>
                            <img class="person__circle" src="img/rainbowbg.jpg" alt="TinyML Team Members">
                            <img class="person__img" src="https://upload.wikimedia.org/wikipedia/commons/thumb/1/12/User_icon_2.svg/768px-User_icon_2.svg.png" alt="TinyML Team Members">
                        </div>
                    </div>
                    <div class="line"></div>
                    <div class="info">
                        <h3 class="name">Nguyễn Trí Hiếu</h3>
                        <h4 class="jobtitle">Member</h4>
                    </div>
                </div>
            </div> <!-- end teams container-->

            <span class="teams-introduction col-12">Team Web, Design</span>
            <hr class="blockade"/>
            <div class="teams-container">
                <div class="team-member">
                    <div class="person">
                        <div class="person__container">
                            <p class="description">
                                <q><b>I am talented at Engineering, and I will always believe so.</b></q>
                                <br/>
                                <span>My birth year: 2007</span>
                                <br/>
                                <span>I am from: Le Quy Don High School at HCMC</span>
                                <br/>
                                <span>My message to students: Enjoy the bootcamp :D</span>
                            </p>
                            <img class="person__circle" src="img/rainbowbg.jpg" alt="TinyML Team Members">
                            <img class="person__img" src="img/vu-duy-nam-khanh.png" alt="TinyML Team Members">
                        </div>
                    </div>
                    <div class="line"></div>
                    <div class="info">
                        <h3 class="name">Vũ Duy Nam Khánh</h3>
                        <h4 class="jobtitle">Leader Web Team</h4>
                    </div>
                </div>
                <div class="team-member">
                    <div class="person">
                        <div class="person__container">
                            <p class="description">
                                <q><b>I am interested in machines and computers; also very friendly :)</b></q>
                                <br/>
                                <span>My birth year: 2007</span>
                                <br/>
                                <span>I am from: Nguyen Sieu School, Hanoi</span>
                                <br/>
                                <span>My message to students: Be more involved in activities like this cause you’ll meet more people =)</span>
                            </p>
                            <img class="person__circle" src="img/rainbowbg.jpg" alt="TinyML Team Members">
                            <img class="person__img" src="https://upload.wikimedia.org/wikipedia/commons/thumb/1/12/User_icon_2.svg/768px-User_icon_2.svg.png" alt="TinyML Team Members">
                        </div>
                    </div>
                    <div class="line"></div>
                    <div class="info">
                        <h3 class="name">Trịnh Phú Minh</h3>
                        <h4 class="jobtitle">Member Web Team</h4>
                    </div>
                </div>
                <div class="team-member">
                    <div class="person">
                        <div class="person__container">
                            <p class="description">
                                <q><b>Enthusiasm, curious</b></q>
                                <br/>
                                <span>My birth year: 2007</span>
                                <br/>
                                <span>I am from: Union Christain Academy, Fort Smith</span>
                                <br/>
                                <span>My message to students: I enjoy working with you guys and I hope the project will be successful.</span>
                            </p>
                            <img class="person__circle" src="img/rainbowbg.jpg" alt="TinyML Team Members">
                            <img class="person__img" src="img/lam-ha-phuong.png" id="lhp-img" alt="TinyML Team Members">
                        </div>
                    </div>
                    <div class="line"></div>
                    <div class="info">
                        <h3 class="name">Lâm Hà Phương</h3>
                        <h4 class="jobtitle">Member Design Team</h4>
                    </div>
                </div>
                <div class="team-member">
                    <div class="person">
                        <div class="person__container">
                            <p class="description">
                                <q><b>A high schooler who is passionate about ML and Web Designing looking for more experience in the field.</b></q>
                                <br/>
                                <span>My birth year: 2008</span>
                                <br/>
                                <span>I am from: Amsterdam High School for the Gifted, Ha Noi</span>
                                <br/>
                                <span>My message to students: I hope that we can work together to inspire new generations of engineers and computer scientists in our country.</span>
                            </p>
                            <img class="person__circle" src="img/rainbowbg.jpg" alt="TinyML Team Members">
                            <img class="person__img" src="https://upload.wikimedia.org/wikipedia/commons/thumb/1/12/User_icon_2.svg/768px-User_icon_2.svg.png" alt="TinyML Team Members">
                        </div>
                    </div>
                    <div class="line"></div>
                    <div class="info">
                        <h3 class="name">Nguyễn Minh Đăng</h3>
                        <h4 class="jobtitle">Member Web Team</h4>
                    </div>
                </div>
                <div class="team-member">
                    <div class="person">
                        <div class="person__container">
                            <p class="description">
                                <q><b>actually idk how to describe myself 🤡</b></q>
                                <br/>
                                <span>My birth year: 2008</span>
                                <br/>
                                <span>I am from: Nguyen Huu Cau High School at HCMC</span>
                                <br/>
                                <span></span>
                            </p>
                            <img class="person__circle" src="img/rainbowbg.jpg" alt="TinyML Team Members">
                            <img class="person__img" src="https://upload.wikimedia.org/wikipedia/commons/thumb/1/12/User_icon_2.svg/768px-User_icon_2.svg.png" alt="TinyML Team Members">
                        </div>
                    </div>
                    <div class="line"></div>
                    <div class="info">
                        <h3 class="name">Phan Chu Ân</h3>
                        <h4 class="jobtitle">Member Web Team</h4>
                    </div>
                </div>
                <div class="team-member">
                    <div class="person">
                        <div class="person__container">
                            <p class="description">
                                <q><b>I would describe myself as an introverted and shy person (first impression that most people have about me). During my leisure time, I enjoy listening to music and watching movies. Sometimes, I would play tennis with my sisters. I like having Korean meals, such as ramen, bulgogi and tokbokki.</b></q>
                                <br/>
                                <span>My birth year: 2010</span>
                                <br/>
                                <span>I am from: PennSchool, Ho Chi Minh City</span>
                                <br/>
                                <span>My message to students: thank you all the students who participate in this bootcamp so much for supporting me 😭 this is my first time attending and contributing in an event. yall taught me a lot of things (at first i was afraid that i won’t get much help from the others but yall helped me sm.) overall i really appreciate all the things i learnt from yall and i’ll work hard to contribute to the team 😭 loveu </span>
                            </p>
                            <img class="person__circle" src="img/rainbowbg.jpg" alt="TinyML Team Members">
                            <img class="person__img" src="img/nguyen-pham-thai-ha.png" id="npth-img" alt="TinyML Team Members">
                        </div>
                    </div>
                    <div class="line"></div>
                    <div class="info">
                        <h3 class="name">Nguyễn Phạm Thái Hà</h3>
                        <h4 class="jobtitle">Member Design Team</h4>
                    </div>
                </div>
                <div class="team-member">
                    <div class="person">
                        <div class="person__container">
                            <p class="description">
                                <q><b>Hi, I'm Khoa, a 10th-grade student currently studying at Perkiomen School from 2024 to 2027. I'm collaborative, resilient, and friendly. I love learning about computer science, philosophy, history, and psychology, and I enjoy researching history and philosophy in my free time. I also like doing charity work whenever I can.</b></q>
                                <br/>
                                <span>My birth year: 2009</span>
                                <br/>
                                <span>I am from: Perkiomen School, Pennsylvania</span>
                                <br/>
                                <span>My message to students: This is my first time participating in such a big bootcamp. I hope to learn many things from you all, and I would be very grateful if you could coach me to develop my soft skills. Thanks for reading.</span>
                            </p>
                            <img class="person__circle" src="img/rainbowbg.jpg" alt="TinyML Team Members">
                            <img class="person__img" src="https://upload.wikimedia.org/wikipedia/commons/thumb/1/12/User_icon_2.svg/768px-User_icon_2.svg.png" alt="TinyML Team Members">
                        </div>
                    </div>
                    <div class="line"></div>
                    <div class="info">
                        <h3 class="name">Đặng Anh Khoa</h3>
                        <h4 class="jobtitle">Member Web Team</h4>
                    </div>
                </div>
                <div class="team-member">
                    <div class="person">
                        <div class="person__container">
                            <p class="description">
                                <q><b>I'm a student interested in all manner of computer science and machine learning.</b></q>
                                <br/>
                                <span>My birth year: 2007</span>
                                <br/>
                                <span>I am from: British International School, Ho Chi Minh City</span>
                                <br/>
                                <span></span>
                            </p>
                            <img class="person__circle" src="img/rainbowbg.jpg" alt="TinyML Team Members">
                            <img class="person__img" src="https://upload.wikimedia.org/wikipedia/commons/thumb/1/12/User_icon_2.svg/768px-User_icon_2.svg.png" alt="TinyML Team Members">
                        </div>
                    </div>
                    <div class="line"></div>
                    <div class="info">
                        <h3 class="name">Phan Nguyên Khôi</h3>
                        <h4 class="jobtitle">Member Web Team</h4>
                    </div>
                </div>
                <div class="team-member">
                    <div class="person">
                        <div class="person__container">
                            <p class="description">
                                <q><b>Discipline is my weakness</b></q>
                                <br/>
                                <span>My birth year: 2007</span>
                                <br/>
                                <span>I am from: Tran Dai Nghia High School, HCMC</span>
                                <br/>
                                <span>My message to students: One of the things I regret not doing sooner is learning Machine Learning in 9th grade. I didn’t have the little push towards the direction I wanted. Thus, take this bootcamp as that little push, the start of your journey.</span>
                            </p>
                            <img class="person__circle" src="img/rainbowbg.jpg" alt="TinyML Team Members">
                            <img class="person__img" src="img/thien-dang.png" id="tdn-img" alt="TinyML Team Members">
                        </div>
                    </div>
                    <div class="line"></div>
                    <div class="info">
                        <h3 class="name">Nguyễn Ngọc Thiên Đăng</h3>
                        <h4 class="jobtitle">Member Web Team</h4>
                    </div>
                </div>
                <div class="team-member">
                    <div class="person">
                        <div class="person__container">
                            <p class="description">
                                <q><b>Hi guys, I'm Hieu and am currently a student participating in this year's boot camp. My main goal in this project is to be able to teach students about machine learning as well as to develop myself further in this specific field. I hope that this project can bring the curiosity and interest out of youngsters nowadays and spread the love for STEM subjects in general.</b></q>
                                <br/>
                                <span>My birth year: 2007</span>
                                <br/>
                                <span>Nguyễn Siêu High School, Hanoi</span>
                                <br/>
                                <span></span>
                            </p>
                            <img class="person__circle" src="img/rainbowbg.jpg" alt="TinyML Team Members">
                            <img class="person__img" src="https://upload.wikimedia.org/wikipedia/commons/thumb/1/12/User_icon_2.svg/768px-User_icon_2.svg.png" alt="TinyML Team Members">
                        </div>
                    </div>
                    <div class="line"></div>
                    <div class="info">
                        <h3 class="name">Nguyễn Trí Hiếu</h3>
                        <h4 class="jobtitle">Member Design Team</h4>
                    </div>
                </div>
            </div> <!-- end teams container-->

            <span class="teams-introduction col-12">Team Social Media</span>
            <hr class="blockade"/>
            <div class="teams-container">
                <div class="team-member">
                    <div class="person">
                        <div class="person__container">
                            <p class="description">
                                <q><b>I'm quite introvert but if people are getting closer to me, I'm more talkative (I guess I'm an ambivert). I like reading, taking photos, and traveling. I love to listen to people ideas and experiences.</b></q>
                                <br/>
                                <span>My birth year: 2008</span>
                                <br/>
                                <span>I am from: Roanoke Catholic School, Roanoke</span>
                                <br/>
                                <span>My message to students: "Work hard, Play Harder." I should say almost everyone in this bootcamp are friendly and know what they are doing, you will have a good experience here.</span>
                            </p>
                            <img class="person__circle" src="img/rainbowbg.jpg" alt="TinyML Team Members">
                            <img class="person__img" src="img/nguyen-anh-thu.png" id="nat-img" alt="TinyML Team Members">
                        </div>
                    </div>
                    <div class="line"></div>
                    <div class="info">
                        <h3 class="name">Nguyễn Anh Thư</h3>
                        <h4 class="jobtitle">Leader</h4>
                    </div>
                </div>
                <div class="team-member">
                    <div class="person">
                        <div class="person__container">
                            <p class="description">
                                <q><b>I don't have much experience in computer science or engineering, but I like biology and chemistry and have a lot of experiences in those two.</b></q>
                                <br/>
                                <span>My birth year: 2007</span>
                                <br/>
                                <span>I am from: Holy Trinity High School, Chicago, Illinois</span>
                                <br/>
                                <span>My message to students: No naughty please :(</span>
                            </p>
                            <img class="person__circle" src="img/rainbowbg.jpg" alt="TinyML Team Members">
                            <img class="person__img" src="https://upload.wikimedia.org/wikipedia/commons/thumb/1/12/User_icon_2.svg/768px-User_icon_2.svg.png" alt="TinyML Team Members">
                        </div>
                    </div>
                    <div class="line"></div>
                    <div class="info">
                        <h3 class="name">Đinh Hoàng Dương</h3>
                        <h4 class="jobtitle">Member</h4>
                    </div>
                </div>
                <div class="team-member">
                    <div class="person">
                        <div class="person__container">
                            <p class="description">
                                <q><b>Hi! I’m Thinh. I'm 16 years old and now living in Ho Chi Minh City. I love smiling, traveling, and singing. I'm also curious about finance and fascinated by technology, especially AI and machine learning.</b></q>
                                <br/>
                                <span>My birth year: 2008</span>
                                <br/>
                                <span>I am from: VNU-HCM High School for the Gifted, Ho Chi Minh City</span>
                                <br/>
                                <span>My message to students: You won't regret it!</span>
                            </p>
                            <img class="person__circle" src="img/rainbowbg.jpg" alt="TinyML Team Members">
                            <img class="person__img" src="https://upload.wikimedia.org/wikipedia/commons/thumb/1/12/User_icon_2.svg/768px-User_icon_2.svg.png" alt="TinyML Team Members">
                        </div>
                    </div>
                    <div class="line"></div>
                    <div class="info">
                        <h3 class="name">Đinh Minh Thịnh</h3>
                        <h4 class="jobtitle">Member</h4>
                    </div>
                </div>
                <div class="team-member">
                    <div class="person">
                        <div class="person__container">
                            <p class="description">
                                <q><b>An innovation enthusiast, always trying new experiences.</b></q>
                                <br/>
                                <span>My birth year: 2008</span>
                                <br/>
                                <span>I am from: Phổ thông Năng khiếu, TPHCM</span>
                                <br/>
                                <span>My message to students: Machine learning is a new and exciting field, and it may be the basis for many of the upcoming technological development. In that sense, this is your chance to explore and experience the fascinating world of Artificial Intelligence, learning along side the machine we use. I hope you have a wonderful time at our bootcamp.</span>
                            </p>
                            <img class="person__circle" src="img/rainbowbg.jpg" alt="TinyML Team Members">
                            <img class="person__img" src="https://upload.wikimedia.org/wikipedia/commons/thumb/1/12/User_icon_2.svg/768px-User_icon_2.svg.png" alt="TinyML Team Members">
                        </div>
                    </div>
                    <div class="line"></div>
                    <div class="info">
                        <h3 class="name">Võ Lâm Gia Hy</h3>
                        <h4 class="jobtitle">Member</h4>
                    </div>
                </div>
            </div> <!-- end teams container-->

            <span class="teams-introduction col-12">Team Finance</span>
            <hr class="blockade"/>
            <div class="teams-container">
                <div class="team-member">
                    <div class="person">
                        <div class="person__container">
                            <p class="description">
                                <q><b>Introverted Extrovert</b></q>
                                <br/>
                                <span>My birth year: 2007</span>
                                <br/>
                                <span>I am from: BVIS Hanoi</span>
                                <br/>
                                <span>My message to students: Ego is our best enemy </span>
                            </p>
                            <img class="person__circle" src="img/rainbowbg.jpg" alt="TinyML Team Members">
                            <img class="person__img" src="img/dinh-vinh-mai.png" id="mdv-img" alt="TinyML Team Members">
                        </div>
                    </div>
                    <div class="line"></div>
                    <div class="info">
                        <h3 class="name">Mai Đình Vinh</h3>
                        <h4 class="jobtitle">Leader</h4>
                    </div>
                </div>
                <div class="team-member">
                    <div class="person">
                        <div class="person__container">
                            <p class="description">
                                <q><b>A young boy who loves science</b></q>
                                <br/>
                                <span>My birth year: 2008</span>
                                <br/>
                                <span>I am from: HUS High School for Gifted Students, Hanoi</span>
                                <br/>
                                <span></span>
                            </p>
                            <img class="person__circle" src="img/rainbowbg.jpg" alt="TinyML Team Members">
                            <img class="person__img" src="https://upload.wikimedia.org/wikipedia/commons/thumb/1/12/User_icon_2.svg/768px-User_icon_2.svg.png" alt="TinyML Team Members">
                        </div>
                    </div>
                    <div class="line"></div>
                    <div class="info">
                        <h3 class="name">Trương Gia Hùng</h3>
                        <h4 class="jobtitle">Member</h4>
                    </div>
                </div>
                <div class="team-member">
                    <div class="person">
                        <div class="person__container">
                            <p class="description">
                                <q><b>Enthusiasm, curious</b></q>
                                <br/>
                                <span>My birth year: 2007</span>
                                <br/>
                                <span>I am from: Union Christain Academy, Fort Smith</span>
                                <br/>
                                <span>My message to students: I enjoy working with you guys and I hope the project will be successful.</span>
                            </p>
                            <img class="person__circle" src="img/rainbowbg.jpg" alt="TinyML Team Members">
                            <img class="person__img" src="img/lam-ha-phuong.png" id="lhp-img" alt="TinyML Team Members">
                        </div>
                    </div>
                    <div class="line"></div>
                    <div class="info">
                        <h3 class="name">Lâm Hà Phương</h3>
                        <h4 class="jobtitle">Member Design Team</h4>
                    </div>
                </div>
                <div class="team-member">
                    <div class="person">
                        <div class="person__container">
                            <p class="description">
                                <q><b>Khanh is a high school Junior with a strong passion for coding and exploring technology. Alongside his studies, Khánh is actively involved in community service, seeking to make a positive impact in his community. His curiosity for technology drives him to stay updated with the latest advancements, and he enjoys spending his free time learning new programming languages and exploring innovative tech solutions.</b></q>
                                <br/>
                                <span>My birth year: 2008</span>
                                <br/>
                                <span>I am from: SJNA, Wisconsin</span>
                                <br/>
                                <span>My message to students:
                                    <br/>
                                    Embrace Curiosity and Patience
                                    <br/><br/>
                                    First and foremost, I encourage you to approach Machine Learning with curiosity and patience. This field is vast and can be complex at times, but it's also incredibly rewarding. Don't be afraid to ask questions, experiment, and make mistakes. Every challenge you encounter is a learning opportunity that brings you one step closer to mastering the concepts.
                                    <br/><br/>
                                    Hands-On Practice is Key
                                    <br/><br/>
                                    Theory is important, but Machine Learning is best learned by doing. Engage in hands-on projects and experiments. Use datasets to train your models, participate in Kaggle competitions, and try to solve real-world problems. The more you practice, the more confident you'll become in applying Machine Learning techniques.
                                    <br/><br/>
                                    Think Ethically and Responsibly
                                    <br/><br/>
                                    As you delve into Machine Learning, it's important to consider the ethical implications of your work. Strive to create models that are fair, unbiased, and transparent. Understand the impact of your algorithms on society and be mindful of the responsibility that comes with working in this powerful field.
                                </span>
                            </p>
                            <img class="person__circle" src="img/rainbowbg.jpg" alt="TinyML Team Members">
                            <img class="person__img" src="https://upload.wikimedia.org/wikipedia/commons/thumb/1/12/User_icon_2.svg/768px-User_icon_2.svg.png" alt="TinyML Team Members">
                        </div>
                    </div>
                    <div class="line"></div>
                    <div class="info">
                        <h3 class="name">Khanh Nguyen</h3>
                        <h4 class="jobtitle">Member</h4>
                    </div>
                </div>
                <div class="team-member">
                    <div class="person">
                        <div class="person__container">
                            <p class="description">
                                <q><b>I'm quite introvert but if people are getting closer to me, I'm more talkative (I guess I'm an ambivert). I like reading, taking photos, and traveling. I love to listen to people ideas and experiences.</b></q>
                                <br/>
                                <span>My birth year: 2008</span>
                                <br/>
                                <span>I am from: Roanoke Catholic School, Roanoke</span>
                                <br/>
                                <span>My message to students: "Work hard, Play Harder." I should say almost everyone in this bootcamp are friendly and know what they are doing, you will have a good experience here.</span>
                            </p>
                            <img class="person__circle" src="img/rainbowbg.jpg" alt="TinyML Team Members">
                            <img class="person__img" src="img/nguyen-anh-thu.png" id="nat-img" alt="TinyML Team Members">
                        </div>
                    </div>
                    <div class="line"></div>
                    <div class="info">
                        <h3 class="name">Nguyễn Anh Thư</h3>
                        <h4 class="jobtitle">Member</h4>
                    </div>
                </div>
                <div class="team-member">
                    <div class="person">
                        <div class="person__container">
                            <p class="description">
                                <q><b>Hi! I’m Thinh. I'm 16 years old and now living in Ho Chi Minh City. I love smiling, traveling, and singing. I'm also curious about finance and fascinated by technology, especially AI and machine learning.</b></q>
                                <br/>
                                <span>My birth year: 2008</span>
                                <br/>
                                <span>I am from: VNU-HCM High School for the Gifted, Ho Chi Minh City</span>
                                <br/>
                                <span>My message to students: You won't regret it!</span>
                            </p>
                            <img class="person__circle" src="img/rainbowbg.jpg" alt="TinyML Team Members">
                            <img class="person__img" src="https://upload.wikimedia.org/wikipedia/commons/thumb/1/12/User_icon_2.svg/768px-User_icon_2.svg.png" alt="TinyML Team Members">
                        </div>
                    </div>
                    <div class="line"></div>
                    <div class="info">
                        <h3 class="name">Đinh Minh Thịnh</h3>
                        <h4 class="jobtitle">Member</h4>
                    </div>
                </div>
            </div> <!-- end teams container-->

            <!--<span class="teams-introduction col-12">Team Support</span>
            <hr class="blockade"/>
            <div class="teams-container">
                <div class="team-member">
                    <div class="person">
                        <div class="person__container">
                            <p class="description">scrollable description box Lorem ipsum dolor sit amet consectetur adipisicing elit. Quam recusandae aliquam modi dignissimos corrupti aut hic repellendus. Tempore dolorem aperiam qui repudiandae aliquam nostrum hic amet, laborum magnam distinctio cumque dignissimos minima quia repellendus quas, doloremque dolorum incidunt fugiat suscipit?</p>
                            <img class="person__circle" src="img/rainbowbg.jpg" alt="TinyML Team Members">
                            <img class="person__img" src="https://upload.wikimedia.org/wikipedia/commons/thumb/1/12/User_icon_2.svg/768px-User_icon_2.svg.png" alt="TinyML Team Members">
                        </div>
                    </div>
                    <div class="line"></div>
                    <div class="info">
                        <h3 class="name">Name</h3>
                        <h4 class="jobtitle">Title</h4>
                    </div>
                </div>
            </div>--> <!-- end teams container-->

            <!--<span class="teams-introduction col-12">Team Marketing</span>
            <hr class="blockade"/>
            <div class="teams-container">
                <div class="team-member">
                    <div class="person">
                        <div class="person__container">
                            <p class="description">scrollable description box Lorem ipsum dolor sit amet consectetur adipisicing elit. Quam recusandae aliquam modi dignissimos corrupti aut hic repellendus. Tempore dolorem aperiam qui repudiandae aliquam nostrum hic amet, laborum magnam distinctio cumque dignissimos minima quia repellendus quas, doloremque dolorum incidunt fugiat suscipit?</p>
                            <img class="person__circle" src="img/rainbowbg.jpg" alt="TinyML Team Members">
                            <img class="person__img" src="https://upload.wikimedia.org/wikipedia/commons/thumb/1/12/User_icon_2.svg/768px-User_icon_2.svg.png" alt="TinyML Team Members">
                        </div>
                    </div>
                    <div class="line"></div>
                    <div class="info">
                        <h3 class="name">Name</h3>
                        <h4 class="jobtitle">Title</h4>
                    </div>
                </div>
            </div>--> <!-- end teams container-->
        </div>
    </div>    
</body>
<%- include('../templates/footer') %>
</html>