<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>TinyTensor - Our Teams</title>
    <%- include('../libraries/ui-libraries') %>
    <link rel="stylesheet" href="../stylesheets/teams.css">
</head>
<%- include('../templates/navbar', {urlPath: '/ourTeams'}) %>
<body>
    <div class="container">
        <div class="row">
            <span id="page-Introduction" class="col-12"><span style="color: #007BFF;">TinyTensor</span> - TinyML Bootcamp Members</span>
            <div id="founder" class="d-flex flex-column align-items-center">
                <div class="person">
                    <div class="person__container">
                        <p class="description">scrollable description box Lorem ipsum dolor sit amet consectetur adipisicing elit. Quam recusandae aliquam modi dignissimos corrupti aut hic repellendus. Tempore dolorem aperiam qui repudiandae aliquam nostrum hic amet, laborum magnam distinctio cumque dignissimos minima quia repellendus quas, doloremque dolorum incidunt fugiat suscipit?</p>
                        <img class="person__circle" src="img/rainbowbg.jpg" alt="TinyML Team Members">
                        <img class="person__img" src="img/randomguy.png" alt="TinyML Team Members">
                    </div>
                </div>
                <div class="line"></div>
                <div class="info">
                    <h1 class="name">Dr. Do Dinh Thuan</h1>
                    <h2 class="jobtitle">Founder of TinyTensor - TinyML Bootcamp</h2>
                </div>
            </div>

            <span class="teams-introduction col-12">Team Mentors, Tutors</span>
            <hr class="blockade"/>
            <div class="teams-container">
                <div class="team-member">
                    <div class="person">
                        <div class="person__container">
                            <p class="description">scrollable description box Lorem ipsum dolor sit amet consectetur adipisicing elit. Quam recusandae aliquam modi dignissimos corrupti aut hic repellendus. Tempore dolorem aperiam qui repudiandae aliquam nostrum hic amet, laborum magnam distinctio cumque dignissimos minima quia repellendus quas, doloremque dolorum incidunt fugiat suscipit?</p>
                            <img class="person__circle" src="img/rainbowbg.jpg" alt="TinyML Team Members">
                            <img class="person__img" src="img/randomguy.png" alt="TinyML Team Members">
                        </div>
                    </div>
                    <div class="line"></div>
                    <div class="info">
                        <h3 class="name">Name</h3>
                        <h4 class="jobtitle">Title</h4>
                    </div>
                </div>
                <div class="team-member">
                    <div class="person">
                        <div class="person__container">
                            <p class="description">scrollable description box Lorem ipsum dolor sit amet consectetur adipisicing elit. Quam recusandae aliquam modi dignissimos corrupti aut hic repellendus. Tempore dolorem aperiam qui repudiandae aliquam nostrum hic amet, laborum magnam distinctio cumque dignissimos minima quia repellendus quas, doloremque dolorum incidunt fugiat suscipit?</p>
                            <img class="person__circle" src="img/rainbowbg.jpg" alt="TinyML Team Members">
                            <img class="person__img" src="img/randomguy.png" alt="TinyML Team Members">
                        </div>
                    </div>
                    <div class="line"></div>
                    <div class="info">
                        <h3 class="name">Name</h3>
                        <h4 class="jobtitle">Title</h4>
                    </div>
                </div>
                <div class="team-member">
                    <div class="person">
                        <div class="person__container">
                            <p class="description">scrollable description box Lorem ipsum dolor sit amet consectetur adipisicing elit. Quam recusandae aliquam modi dignissimos corrupti aut hic repellendus. Tempore dolorem aperiam qui repudiandae aliquam nostrum hic amet, laborum magnam distinctio cumque dignissimos minima quia repellendus quas, doloremque dolorum incidunt fugiat suscipit?</p>
                            <img class="person__circle" src="img/rainbowbg.jpg" alt="TinyML Team Members">
                            <img class="person__img" src="img/randomguy.png" alt="TinyML Team Members">
                        </div>
                    </div>
                    <div class="line"></div>
                    <div class="info">
                        <h3 class="name">Name</h3>
                        <h4 class="jobtitle">Title</h4>
                    </div>
                </div>
            </div> <!-- end teams container-->

            <span class="teams-introduction col-12">Team Web, Design</span>
            <hr class="blockade"/>
            <div class="teams-container">
                <div class="team-member">
                    <div class="person">
                        <div class="person__container">
                            <p class="description">scrollable description box Lorem ipsum dolor sit amet consectetur adipisicing elit. Quam recusandae aliquam modi dignissimos corrupti aut hic repellendus. Tempore dolorem aperiam qui repudiandae aliquam nostrum hic amet, laborum magnam distinctio cumque dignissimos minima quia repellendus quas, doloremque dolorum incidunt fugiat suscipit?</p>
                            <img class="person__circle" src="img/rainbowbg.jpg" alt="TinyML Team Members">
                            <img class="person__img" src="img/randomguy.png" alt="TinyML Team Members">
                        </div>
                    </div>
                    <div class="line"></div>
                    <div class="info">
                        <h3 class="name">Name</h3>
                        <h4 class="jobtitle">Title</h4>
                    </div>
                </div>
                <div class="team-member">
                    <div class="person">
                        <div class="person__container">
                            <p class="description">scrollable description box Lorem ipsum dolor sit amet consectetur adipisicing elit. Quam recusandae aliquam modi dignissimos corrupti aut hic repellendus. Tempore dolorem aperiam qui repudiandae aliquam nostrum hic amet, laborum magnam distinctio cumque dignissimos minima quia repellendus quas, doloremque dolorum incidunt fugiat suscipit?</p>
                            <img class="person__circle" src="img/rainbowbg.jpg" alt="TinyML Team Members">
                            <img class="person__img" src="img/randomguy.png" alt="TinyML Team Members">
                        </div>
                    </div>
                    <div class="line"></div>
                    <div class="info">
                        <h3 class="name">Name</h3>
                        <h4 class="jobtitle">Title</h4>
                    </div>
                </div>
                <div class="team-member">
                    <div class="person">
                        <div class="person__container">
                            <p class="description">scrollable description box Lorem ipsum dolor sit amet consectetur adipisicing elit. Quam recusandae aliquam modi dignissimos corrupti aut hic repellendus. Tempore dolorem aperiam qui repudiandae aliquam nostrum hic amet, laborum magnam distinctio cumque dignissimos minima quia repellendus quas, doloremque dolorum incidunt fugiat suscipit?</p>
                            <img class="person__circle" src="img/rainbowbg.jpg" alt="TinyML Team Members">
                            <img class="person__img" src="img/randomguy.png" alt="TinyML Team Members">
                        </div>
                    </div>
                    <div class="line"></div>
                    <div class="info">
                        <h3 class="name">Name</h3>
                        <h4 class="jobtitle">Title</h4>
                    </div>
                </div>
            </div> <!-- end teams container-->

            <span class="teams-introduction col-12">Team Social Media</span>
            <hr class="blockade"/>
            <div class="teams-container">
                <div class="team-member">
                    <div class="person">
                        <div class="person__container">
                            <p class="description">scrollable description box Lorem ipsum dolor sit amet consectetur adipisicing elit. Quam recusandae aliquam modi dignissimos corrupti aut hic repellendus. Tempore dolorem aperiam qui repudiandae aliquam nostrum hic amet, laborum magnam distinctio cumque dignissimos minima quia repellendus quas, doloremque dolorum incidunt fugiat suscipit?</p>
                            <img class="person__circle" src="img/rainbowbg.jpg" alt="TinyML Team Members">
                            <img class="person__img" src="img/randomguy.png" alt="TinyML Team Members">
                        </div>
                    </div>
                    <div class="line"></div>
                    <div class="info">
                        <h3 class="name">Name</h3>
                        <h4 class="jobtitle">Title</h4>
                    </div>
                </div>
                <div class="team-member">
                    <div class="person">
                        <div class="person__container">
                            <p class="description">scrollable description box Lorem ipsum dolor sit amet consectetur adipisicing elit. Quam recusandae aliquam modi dignissimos corrupti aut hic repellendus. Tempore dolorem aperiam qui repudiandae aliquam nostrum hic amet, laborum magnam distinctio cumque dignissimos minima quia repellendus quas, doloremque dolorum incidunt fugiat suscipit?</p>
                            <img class="person__circle" src="img/rainbowbg.jpg" alt="TinyML Team Members">
                            <img class="person__img" src="img/randomguy.png" alt="TinyML Team Members">
                        </div>
                    </div>
                    <div class="line"></div>
                    <div class="info">
                        <h3 class="name">Name</h3>
                        <h4 class="jobtitle">Title</h4>
                    </div>
                </div>
                <div class="team-member">
                    <div class="person">
                        <div class="person__container">
                            <p class="description">scrollable description box Lorem ipsum dolor sit amet consectetur adipisicing elit. Quam recusandae aliquam modi dignissimos corrupti aut hic repellendus. Tempore dolorem aperiam qui repudiandae aliquam nostrum hic amet, laborum magnam distinctio cumque dignissimos minima quia repellendus quas, doloremque dolorum incidunt fugiat suscipit?</p>
                            <img class="person__circle" src="img/rainbowbg.jpg" alt="TinyML Team Members">
                            <img class="person__img" src="img/randomguy.png" alt="TinyML Team Members">
                        </div>
                    </div>
                    <div class="line"></div>
                    <div class="info">
                        <h3 class="name">Name</h3>
                        <h4 class="jobtitle">Title</h4>
                    </div>
                </div>
            </div> <!-- end teams container-->

            <span class="teams-introduction col-12">Team Finance</span>
            <hr class="blockade"/>
            <div class="teams-container">
                <div class="team-member">
                    <div class="person">
                        <div class="person__container">
                            <p class="description">scrollable description box Lorem ipsum dolor sit amet consectetur adipisicing elit. Quam recusandae aliquam modi dignissimos corrupti aut hic repellendus. Tempore dolorem aperiam qui repudiandae aliquam nostrum hic amet, laborum magnam distinctio cumque dignissimos minima quia repellendus quas, doloremque dolorum incidunt fugiat suscipit?</p>
                            <img class="person__circle" src="img/rainbowbg.jpg" alt="TinyML Team Members">
                            <img class="person__img" src="img/randomguy.png" alt="TinyML Team Members">
                        </div>
                    </div>
                    <div class="line"></div>
                    <div class="info">
                        <h3 class="name">Name</h3>
                        <h4 class="jobtitle">Title</h4>
                    </div>
                </div>
                <div class="team-member">
                    <div class="person">
                        <div class="person__container">
                            <p class="description">scrollable description box Lorem ipsum dolor sit amet consectetur adipisicing elit. Quam recusandae aliquam modi dignissimos corrupti aut hic repellendus. Tempore dolorem aperiam qui repudiandae aliquam nostrum hic amet, laborum magnam distinctio cumque dignissimos minima quia repellendus quas, doloremque dolorum incidunt fugiat suscipit?</p>
                            <img class="person__circle" src="img/rainbowbg.jpg" alt="TinyML Team Members">
                            <img class="person__img" src="img/randomguy.png" alt="TinyML Team Members">
                        </div>
                    </div>
                    <div class="line"></div>
                    <div class="info">
                        <h3 class="name">Name</h3>
                        <h4 class="jobtitle">Title</h4>
                    </div>
                </div>
                <div class="team-member">
                    <div class="person">
                        <div class="person__container">
                            <p class="description">scrollable description box Lorem ipsum dolor sit amet consectetur adipisicing elit. Quam recusandae aliquam modi dignissimos corrupti aut hic repellendus. Tempore dolorem aperiam qui repudiandae aliquam nostrum hic amet, laborum magnam distinctio cumque dignissimos minima quia repellendus quas, doloremque dolorum incidunt fugiat suscipit?</p>
                            <img class="person__circle" src="img/rainbowbg.jpg" alt="TinyML Team Members">
                            <img class="person__img" src="img/randomguy.png" alt="TinyML Team Members">
                        </div>
                    </div>
                    <div class="line"></div>
                    <div class="info">
                        <h3 class="name">Name</h3>
                        <h4 class="jobtitle">Title</h4>
                    </div>
                </div>
            </div> <!-- end teams container-->

            <span class="teams-introduction col-12">Team Support</span>
            <hr class="blockade"/>
            <div class="teams-container">
                <div class="team-member">
                    <div class="person">
                        <div class="person__container">
                            <p class="description">scrollable description box Lorem ipsum dolor sit amet consectetur adipisicing elit. Quam recusandae aliquam modi dignissimos corrupti aut hic repellendus. Tempore dolorem aperiam qui repudiandae aliquam nostrum hic amet, laborum magnam distinctio cumque dignissimos minima quia repellendus quas, doloremque dolorum incidunt fugiat suscipit?</p>
                            <img class="person__circle" src="img/rainbowbg.jpg" alt="TinyML Team Members">
                            <img class="person__img" src="img/randomguy.png" alt="TinyML Team Members">
                        </div>
                    </div>
                    <div class="line"></div>
                    <div class="info">
                        <h3 class="name">Name</h3>
                        <h4 class="jobtitle">Title</h4>
                    </div>
                </div>
                <div class="team-member">
                    <div class="person">
                        <div class="person__container">
                            <p class="description">scrollable description box Lorem ipsum dolor sit amet consectetur adipisicing elit. Quam recusandae aliquam modi dignissimos corrupti aut hic repellendus. Tempore dolorem aperiam qui repudiandae aliquam nostrum hic amet, laborum magnam distinctio cumque dignissimos minima quia repellendus quas, doloremque dolorum incidunt fugiat suscipit?</p>
                            <img class="person__circle" src="img/rainbowbg.jpg" alt="TinyML Team Members">
                            <img class="person__img" src="img/randomguy.png" alt="TinyML Team Members">
                        </div>
                    </div>
                    <div class="line"></div>
                    <div class="info">
                        <h3 class="name">Name</h3>
                        <h4 class="jobtitle">Title</h4>
                    </div>
                </div>
                <div class="team-member">
                    <div class="person">
                        <div class="person__container">
                            <p class="description">scrollable description box Lorem ipsum dolor sit amet consectetur adipisicing elit. Quam recusandae aliquam modi dignissimos corrupti aut hic repellendus. Tempore dolorem aperiam qui repudiandae aliquam nostrum hic amet, laborum magnam distinctio cumque dignissimos minima quia repellendus quas, doloremque dolorum incidunt fugiat suscipit?</p>
                            <img class="person__circle" src="img/rainbowbg.jpg" alt="TinyML Team Members">
                            <img class="person__img" src="img/randomguy.png" alt="TinyML Team Members">
                        </div>
                    </div>
                    <div class="line"></div>
                    <div class="info">
                        <h3 class="name">Name</h3>
                        <h4 class="jobtitle">Title</h4>
                    </div>
                </div>
            </div> <!-- end teams container-->

            <span class="teams-introduction col-12">Team Marketing</span>
            <hr class="blockade"/>
            <div class="teams-container">
                <div class="team-member">
                    <div class="person">
                        <div class="person__container">
                            <p class="description">scrollable description box Lorem ipsum dolor sit amet consectetur adipisicing elit. Quam recusandae aliquam modi dignissimos corrupti aut hic repellendus. Tempore dolorem aperiam qui repudiandae aliquam nostrum hic amet, laborum magnam distinctio cumque dignissimos minima quia repellendus quas, doloremque dolorum incidunt fugiat suscipit?</p>
                            <img class="person__circle" src="img/rainbowbg.jpg" alt="TinyML Team Members">
                            <img class="person__img" src="img/randomguy.png" alt="TinyML Team Members">
                        </div>
                    </div>
                    <div class="line"></div>
                    <div class="info">
                        <h3 class="name">Name</h3>
                        <h4 class="jobtitle">Title</h4>
                    </div>
                </div>
                <div class="team-member">
                    <div class="person">
                        <div class="person__container">
                            <p class="description">scrollable description box Lorem ipsum dolor sit amet consectetur adipisicing elit. Quam recusandae aliquam modi dignissimos corrupti aut hic repellendus. Tempore dolorem aperiam qui repudiandae aliquam nostrum hic amet, laborum magnam distinctio cumque dignissimos minima quia repellendus quas, doloremque dolorum incidunt fugiat suscipit?</p>
                            <img class="person__circle" src="img/rainbowbg.jpg" alt="TinyML Team Members">
                            <img class="person__img" src="img/randomguy.png" alt="TinyML Team Members">
                        </div>
                    </div>
                    <div class="line"></div>
                    <div class="info">
                        <h3 class="name">Name</h3>
                        <h4 class="jobtitle">Title</h4>
                    </div>
                </div>
                <div class="team-member">
                    <div class="person">
                        <div class="person__container">
                            <p class="description">scrollable description box Lorem ipsum dolor sit amet consectetur adipisicing elit. Quam recusandae aliquam modi dignissimos corrupti aut hic repellendus. Tempore dolorem aperiam qui repudiandae aliquam nostrum hic amet, laborum magnam distinctio cumque dignissimos minima quia repellendus quas, doloremque dolorum incidunt fugiat suscipit?</p>
                            <img class="person__circle" src="img/rainbowbg.jpg" alt="TinyML Team Members">
                            <img class="person__img" src="img/randomguy.png" alt="TinyML Team Members">
                        </div>
                    </div>
                    <div class="line"></div>
                    <div class="info">
                        <h3 class="name">Name</h3>
                        <h4 class="jobtitle">Title</h4>
                    </div>
                </div>
            </div> <!-- end teams container-->
        </div>
    </div>    
</body>
<%- include('../templates/footer') %>
</html>