<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>TinyTensor - Records</title>
    <%- include('../libraries/ui-libraries') %>
    <link rel="stylesheet" href="../stylesheets/records.css">
</head>
<%- include('../templates/navbar', {urlPath: '/records'}) %>
<body>
    <div class="container">
        <div class="row">
            <hr class="hr-text" data-content="HONOR BOARD">
            <span style="
                text-align: center;
                font-size: 25pt;
                font-weight: bold;
            ">
                To students who actively participate in the bootcamp and present your awesome projects, you will be honered here after the end of bootcamp.
            </span>
        </div>
    </div>
</body>
<%- include('../templates/footer') %>
</html>